image: "credativ/debian-build:stretch"
before_script:
  - apt-get update -qq

variables:
  DEPLOY_SSH_USER: "ansible"
  DEPLOY_SSH_PORT: "22"

stages:
  - build
  - publish
  # - test
  - deploy
  - release

build:docs:
  stage: build
  image: "tianon/latex"
  script:
    - apt-get install -y --no-install-recommends pandoc make
    - make docs
  artifacts:
    paths:
      - README.html
      - README.pdf

build:deb:
  stage: build
  script:
    - apt-get -y --no-install-recommends build-dep ./
    - apt-get -y --no-install-recommends install devscripts git
    - ci/rebuild.sh
    - make deb
    - mkdir -p debs
    - mv ../*.* debs
  artifacts:
    expire_in: 2 weeks
    paths:
      - debs/*
      - lintian.log

publish:aptly:
  stage: publish
  dependencies:
    - build:deb
  script:
    - apt-get install -y --no-install-recommends curl make
    - aptly/upload_packages.sh debs
    - make include_packages
    - make publish_packages

deploy:x86:
  stage: deploy
  dependencies:
    - publish:aptly
  script:
    - sudo apt-get install -y ansible
    - cd vagrant
    - echo "$DEPLOY_X86_SSH_KEY" > id_file
    - chmod 0600 id_file
    - echo "[test]" > inventory
    - echo "$DEPLOY_X86_NAME ansible_ssh_host=${DEPLOY_X86_IP} ansible_ssh_port=${DEPLOY_SSH_PORT} ansible_ssh_user=${DEPLOY_SSH_USER} ansible_ssh_private_key_file=id_file" >> inventory
    # We chant provide this envirionment variable throught "variables" for some reason.
    - export ANSIBLE_HOST_KEY_CHECKING=False
    - ansible-playbook -i inventory elephant-shed.yml
  environment:
    name: elephant-shed
    url: https://elephant-shed.dev.credativ.lan

deploy:ppc64el:
  stage: deploy
  dependencies:
    - publish:aptly
  script:
    - sudo apt-get install -y ansible
    - cd vagrant
    - echo "$DEPLOY_PPC64EL_SSH_KEY" > id_file
    - chmod 0600 id_file
    - echo "[test]" > inventory
    - echo "$DEPLOY_PPC64EL_NAME ansible_ssh_host=${DEPLOY_PPC64EL_IP} ansible_ssh_port=${DEPLOY_SSH_PORT} ansible_ssh_user=${DEPLOY_SSH_USER} ansible_ssh_private_key_file=id_file" >> inventory
    # We chant provide this envirionment variable throught "variables" for some reason.
    - export ANSIBLE_HOST_KEY_CHECKING=False
    - ansible-playbook -i inventory elephant-shed.yml
  environment:
    name: elephant-shed-ppc64el
    url: https://elephant-shed-ppc64el.dev.credativ.lan

# Build release debian packages.
#
# The main difference between "build:deb" and "build:release:deb" is
# that it does not change the version numbering (see ci/rebuild.sh).
#
# This job should not triggered automatically.
build:release_deb:
  stage: build
  script:
    - apt-get -y --no-install-recommends build-dep ./
    - apt-get -y --no-install-recommends install devscripts git
    - make deb
    - mkdir -p debs
    - mv ../*.* debs
  artifacts:
    paths:
      - debs/*
      - lintian.log
  only:
    - master
  when: manual

# Release the debian pakages provided by "release:build:deb"
publish:release_aptly:
  stage: publish
  dependencies:
    - build:release_deb
  script:
    - apt-get install -y --no-install-recommends curl make
    - aptly/upload_packages.sh debs
    - make include_packages
    - make publish_packages
  only:
    - master
  when: manual
