[defaults]
inventory = inventory
nocows = True

gathering = smart
fact_caching = jsonfile
fact_caching_connection = fact_cache

# Fix Failed to set permissions on the temporary files
allow_world_readable_tmpfiles = True

[ssh_connection]
pipelining = True
