[Unit]
Description=Restart prometheus-sql-exporter to update config based on clusters and databases present on the system

[Service]
Type=oneshot
# before starting the sql exporter, generate config (as root)
PermissionsStartOnly=true
ExecStartPre=/usr/bin/update-prometheus-sql-exporter-config /etc/prometheus-sql-exporter /var/run/postgresql/prometheus-sql-exporter.yml
ExecStart=/bin/systemctl try-restart prometheus-sql-exporter.service
