[Unit]
Description=Restart prometheus-sql-exporter every 10 minutes to update config based on clusters and databases present on the system

[Timer]
OnCalendar=*:0/10

[Install]
WantedBy=multi-user.target
