# /lib/systemd/system/pgbackrest-toggle-archiving@.service
[Unit]
Description=pgBackrest - Toggle PostgreSQL archiving for cluster %i 
ConditionPathExists=/etc/postgresql/%I/postgresql.conf

[Service]
Type=oneshot
User=postgres
ExecStart=/usr/share/elephant-shed/pgbackrest-toggle-archiving %i
SyslogIdentifier=pgbackrest@%i
Nice=10
