
@keyframes btn-pulsating {
    0%   {box-shadow: 0px 0px 0px yellow inset;}
    50% {box-shadow: 0px 0px 25px yellow inset;}
    100%   {box-shadow: 0px 0px 0px yellow inset;}
}
@keyframes btn-success {
    0%   {box-shadow: 0px 0px 0px green inset;}
    50% {box-shadow: 0px 0px 10px green inset;}
    100%   {box-shadow: 0px 0px 0px green inset;}
}
@keyframes btn-fail {
    0%   { box-shadow: 0px 0px 0px red inset;}
    50% {  box-shadow: 0px 0px 10px red inset;}
    100%   {box-shadow: 0px 0px 0px red inset;}
}



.request-waiting {
    animation-name: btn-pulsating;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    }
.request-success {
    animation-name: btn-success;
    animation-duration: 1s;
    animation-iteration-count: 1;
    }
.request-fail {
    animation-name: btn-fail;
    animation-duration: 1s;
    animation-iteration-count: 1;
    }


.es_disabled{
    color: gray;
    }
