{% import 'makros/clusterview.html' as clusterview%}

{% extends "frame.html" %}
{% block mainwindow %}

<div class="row">
	<div class="col-sm-4" style="min-width: 400px">
	<div class="panel panel-default">
		<div class="panel-heading">Elephant-Shed Hosts</div>
		<div class="panel-body">
		{{ clusterview.table_hosts() }}
	      </div>
	</div>
</div>

<div class="col-sm-8" style="min-width: 400px"> 
	<div class="panel panel-default" >
  		<div class="panel-heading">PostgreSQL-Instances</div>
		<div class="panel-body">
		
			{{ clusterview.table_clusters() }}
		</div>
	</div>
</div>
</div>

<!--<button type="button" class="btn-small" onclick="refresh()" style="float: right;">Page-Refresh</button>-->


{{ clusterview.js_clusterview( environment['hosts']) }}

{% endblock %}
