{% extends "frame.html" %}
{% block mainwindow %}


<div class="row">
	<div class="col-sm-4">

<div class="panel panel-default">
  <div class="panel-heading" style="font-weight: bold">
	  <a href="/">Shed</a> / <a href="{{ url_for("index") }}detail/{{ detail_host }}">{{  detail_host }}</a> / {{ detail_version }}-{{detail_cluster}}
  </div>
  <div class="panel-body" >
 <div class="btn-group">
	 <!--
	Possible States:
	online
	offlie
	recovery
	no-recovery
	 -->
	  <button type="button" class="btn btn-primary state-disable-for-online" onclick="pg_ctl( { x: this, host:  '{{ detail_host }}', version:  '{{ detail_version }}', cluster: '{{ detail_cluster }}',action:  'start', call_success: fill_details} )">Start</button>
 <button type="button" class="btn btn-primary state-disable-for-offline"         onclick="pg_ctl( { x: this, host:  '{{ detail_host }}', version:  '{{ detail_version }}', cluster: '{{ detail_cluster }}',action:  'stop', call_success: fill_details}) ">Stop</button>
 <button type="button" class="btn btn-primary state-disable-for-offline"         onclick="pg_ctl( { x: this, host:  '{{ detail_host }}', version:  '{{ detail_version }}', cluster: '{{ detail_cluster }}',action:  'reload', call_success: fill_details})">Reload</button>
 <button type="button" class="btn btn-primary state-disable-for-offline"         onclick="pg_ctl( { x: this, host:  '{{ detail_host }}', version:  '{{ detail_version }}', cluster: '{{ detail_cluster }}',action:  'restart', call_success: fill_details})">Restart</button>
 <button type="button" class="btn btn-primary state-disable-for-no-recovery state-disable-for-offline" onclick="pg_ctl(  { x: this, host:  '{{ detail_host }}', version:  '{{ detail_version }}', cluster: '{{ detail_cluster }}',action:  'promote', call_success: fill_details}) )" >Promote</button>
 <button type="button" class="btn btn-primary state-disable-for-online"  onclick="pg_ctl(  { x: this, host:  '{{ detail_host }}', version:  '{{ detail_version }}', cluster: '{{ detail_cluster }}',action: 'remove', call_success: goto_dash} ) ">Remove</button>
 </div>
 <br>State: 
 <span class="pg_state"style="font-size: 32px"></span><br>
  <span id="pg_log"></span>

  </div>

	
</div>

	</div>

	<div class="col-sm-8">

<div class="panel panel-default">
	<!--  <div class="panel-heading" style="font-weight: bold">Utilities</div>-->
  <div class="panel-body" >
 <div class="btn-group btn-group-justified">
	 {% for deeplink in environment['deeplinks'] %}
	 {% if loop.index0 % 4 == 0 %}
		 </div>
	 	<div class="btn-group btn-group-justified">
	 {% endif %}
	 <div class="btn-group btn-group-justified">
		 <button type="button" class="btn btn-primary">
			 <img src="{{ url_for('index') }}static/{{ deeplink["image"] }}" style="height:40px"><br>
			 	{{ deeplink["label"] }}
		 </button>
	 </div>
	{% endfor %}
 </div>
 
  </div>

	
</div>

	</div>




	</div>

<div class="row">
	<div class="col-sm-6">
		<div class="panel panel-default">
		  <div class="panel-heading" style="font-weight: bold"> System-Information  </div>
		  <div class="panel-body" >
	  Host: {{ detail_host}}<br>
	  CPU: <span class="pg_cpu_config pg_cpu_count"></span><br>
		  </div>
		</div>
	</div>
   <div class="col-sm-6">
	<div class="panel panel-default">
	  <div class="panel-heading" style="font-weight: bold">
	  Cluster-Configuration
	  </div>
  <div class="panel-body" >
	  Host: {{ detail_host}}:<span class="pg_port"></span><br>
	  ClusterName: <span class="pg_cluster"></span><br>
	  PG_Version: <span class="pg_version"></span><br><hr>
	  data_dir: <span class="pg_pgdata"></span><br>
	  logfile: <span class="pg_logfile"></span><br>
	  system_start: <span class="pg_start"></span><br>
	  SSL: <span class="pg_config pg_ssl"></span><br>
	  SharedBuffers: <span class="pg_config pg_shared_buffers"></span><br>
	  MaxConnections: <span class="pg_config pg_max_connections"></span><br>
  </div>
</div>



</div>

{% import 'makros/utils.html' as utils %}
{{ utils.clusterctl_js() }}
<script>

$(document).ready(function() {
	get_host( '{{ detail_host }}', '{{ detail_cluster }}', '{{ detail_version }}' ) ;
});

</script>
{% endblock %}
