{% extends "frame.html" %}
{% block mainwindow %}

{% import 'makros/utils.html' as utils %}
{{ utils.clusterctl_js() }}


<div class="row">
	<div class="col-sm-12" style="min-width: 400px;  ">
		<div class="panel panel-default">
			<!--  <div class="panel-heading" style="font-weight: bold">Utilities</div>-->
			<div class="panel-body">
				<div class="btn-group btn-group-justified">
					{% for deeplink in environment['deeplinks'] %}
					{% if loop.index0 % 10 == 0 %}
				</div>
				<div class="btn-group btn-group-justified">
					{% endif %}
					<div class="btn-group btn-group-justified">
						<button type="button" class="btn btn-default"
							onclick="window.location='https://{{ detail_host }}{{deeplink['url'] }}'">
							<img src="{{ url_for('index') }}static/{{ deeplink["image"] }}" style="height:40px; padding: 5px"="ok">
							{{ deeplink["label"] }}
						</button>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-6" style="min-width: 400px;">
		<div class="panel panel-default" style="height: 350px">
			<div class="panel-heading" style="font-weight: bold">
				<a href="{{url_for("index")}}">Shed</a> / {{  detail_host }} / {{ detail_version }}-{{detail_cluster}}
			</div>
			<div class="panel-body">
				<div class="btn-group btn-group-justified">
					<!--
				Possible States:
				online
				offlie
				recovery
				no-recovery
				-->

					<div class="btn-group btn-group-justified">

						<button type="button" class="btn btn-primary state-disable-for-online"
							onclick="pg_ctl( { x: this, host:  '{{ detail_host }}', version:  '{{ detail_version }}', cluster: '{{ detail_cluster }}',action:  'start', call_success: fill_details} )"><span>Start</span></button>
					</div>
					<div class="btn-group btn-group-justified">

						<button type="button" class="btn btn-primary state-disable-for-offline"
							onclick="pg_ctl( { x: this, host:  '{{ detail_host }}', version:  '{{ detail_version }}', cluster: '{{ detail_cluster }}',action:  'stop', call_success: fill_details}) "><span>Stop</span></button>
					</div>
					<div class="btn-group btn-group-justified">

						<button type="button" class="btn btn-primary state-disable-for-offline"
							onclick="pg_ctl( { x: this, host:  '{{ detail_host }}', version:  '{{ detail_version }}', cluster: '{{ detail_cluster }}',action:  'reload', call_success: fill_details})"><span>Reload</span></button>
					</div>
					<div class="btn-group btn-group-justified">

						<button type="button" class="btn btn-primary state-disable-for-offline"
							onclick="pg_ctl( { x: this, host:  '{{ detail_host }}', version:  '{{ detail_version }}', cluster: '{{ detail_cluster }}',action:  'restart', call_success: fill_details})"><span>Restart</span></button>
					</div>
					<div class="btn-group btn-group-justified">

						<button type="button" class="btn btn-primary state-disable-for-no-recovery state-disable-for-offline"
							onclick="pg_ctl(  { x: this, host:  '{{ detail_host }}', version:  '{{ detail_version }}', cluster: '{{ detail_cluster }}',action:  'promote', call_success: fill_details}) )"><span>Promote</span></button>
					</div>
					<div class="btn-group btn-group-justified">

						<button type="button" class="btn btn-danger state-disable-for-online"
							onclick="pg_ctl(  { x: this, host:  '{{ detail_host }}', version:  '{{ detail_version }}', cluster: '{{ detail_cluster }}',action: 'remove', call_success: goto_dash} ) "><span>Remove</span></button>
					</div>
				</div>
				<br>


				<div style="float: left; font-size: 32px; font-weight: bold">
					<span class="pg_cluster"></span>
					<span class="pg_state"></span><br>
					PostgreSQL-<span class="pg_version"></span>

				</div>
				<table class="essentials_table" style="float: right; ">
					<tr>
						<td><b>Identifier </b></td>
						<td> <span class="pg_pg_controldata pg_Database_s_system_s_identifier"></span></td>
					</tr>
					<tr>
						<td><b>Data Directory </b></td>
						<td><span class="pg_config pg_data_directory"></span></td>
					</tr>
					<tr>
						<td><b>Config Directory </b></td>
						<td><span class="pg_configdir"></span></td>
					</tr>
					<tr>
						<td><b>URL:</b></td>
						<td>postgresql://{{ detail_host}}:<span class="pg_port"></span>/postgres<br>host={{ detail_host}} port=<span
								class="pg_port"></span> </td>
					</tr>
				</table>
			</div>
		</div>


	</div>






	<div class="col-sm-6" style="min-width: 300px">
		<div class="panel panel-default " style="height: 350px">
			<div class="panel-heading" style="font-weight: bold"> System-Information </div>
			<div class="panel-body">
				<table class="table table-responsive">
					{% for element in environment['detailview_system'] %}
					<tr class="es_disabled">
						{% if 'formoverride' in element %}
						<td><b>{{element['label']}}</b></td>
						<td>{{ element['formoverride'] | safe }}</td>
						{% else %}
						<td><b>{{element['label']}}</b></td>
						<td><span class="{{element['data']}}">unknown</span> </td>
						{% endif %}
					<tr>
						{% endfor %}
				</table>
			</div>
		</div>
	</div>

</div>

<div class="row">

	<div class="col-sm-8" style="min-width: 500px">
		<div class="panel panel-default">
			<div class="panel-heading" style="font-weight: bold">
				Cluster-Configuration
			</div>
			<div class="panel-body">
				<input class="settings_hostname" value="{{ detail_host }}" hidden>
				<input class="settings_version" value="{{ detail_version }}" hidden>
				<input class="settings_cluster" value="{{ detail_cluster }}" hidden>
				<table class=" configtable table table-striped table-bordered cell-border compact hover" id="configtable">
					<thead>
						<tr>
							<th>frontpage</th>
							<th>name</th>
							<th>setting</th>
						</tr>
					</thead>
				</table>
				<button type="button" class="btn btn-primary"
					onclick="update_conf( this, '{{detail_host}}','{{detail_version}}','{{detail_cluster}}'  )"><span>APPLY</span></button>
			</div>
		</div>
	</div>


	<div class="col-sm-4" style="min-width: 500px">
		<div class="panel panel-default">
			<div class="panel-heading" style="font-weight: bold">
				Backupconfiguration
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-4">
						Archiving<br>
						<label class="switch">
							<input type="checkbox">
							<span class="slider round"></span>
						</label>
					</div>
					<div class="col-sm-4">
						Full Backup<br>
						<label class="switch">
							<input type="checkbox">
							<span class="slider round"></span>
						</label>
					</div>
					<div class="col-sm-4">
						Incremental Backup<br>
						<label class="switch">
							<input type="checkbox">
							<span class="slider round"></span>
						</label>
					</div>
					<div class="col-sm-6">
						<button type="button" class="btn btn-primary">Run Full Backup</button>
					</div>
					<div class="col-sm-6">
						<button type="button" class="btn btn-primary">Run Incremental Backup</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-4" style="min-width: 500px">
		<div class="panel panel-default">
			<div class="panel-heading" style="font-weight: bold">
				Existing Backups
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-10">
						Full-Backup 20180401-0001
					</div>
					<div class="col-sm-2">
						<button type="button" class="btn btn-primary btn-sm">Restore</button>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-10">
						Incremental-Backup 20180331-0001
					</div>
					<div class="col-sm-2">
						<button type="button" class="btn btn-primary btn-sm">Restore</button>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-10">
						Incremental-Backup 20180330-0001
					</div>
					<div class="col-sm-2">
						<button type="button" class="btn btn-primary btn-sm">Restore</button>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-10">
						Full-Backup 20180320-0001
					</div>
					<div class="col-sm-2">
						<button type="button" class="btn btn-primary btn-sm">Restore</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>

	$(document).ready(function () {
		get_host('{{ detail_host }}', '{{ detail_cluster }}', '{{ detail_version }}');
		add_detail_graphs();
		var frontpage_items = {
			  {% for element in environment['detailview_cluster'] %}
		'{{ element['label' ] }}' : true,
			{% endfor %}
	};

	new Configuration('{{ detail_host }}', '{{ detail_version }}', '{{ detail_cluster }}', frontpage_items);
});

</script>
{% endblock %}