{% extends "frame.html" %}
{% block mainwindow %}

{% import 'makros/utils.html' as utils %}
{{ utils.clusterctl_js() }}


<div class="row">
	<div class="col-sm-4" style="min-width: 400px">

<div class="panel panel-default">
  <div class="panel-heading" style="font-weight: bold">
	  <a href="{{url_for("index")}}">Shed</a> /  {{  detail_host }} / {{ detail_version }}-{{detail_cluster}}
  </div>
  <div class="panel-body" >
 <div class="btn-group btn-group-justified">
	 <!--
	Possible States:
	online
	offlie
	recovery
	no-recovery
	 -->
	 <div class="btn-group btn-group-justified">

  <button type="button" class="btn btn-primary state-disable-for-online" onclick="pg_ctl( { x: this, host:  '{{ detail_host }}', version:  '{{ detail_version }}', cluster: '{{ detail_cluster }}',action:  'start', call_success: fill_details} )">Start</button>
	 </div>
  <div class="btn-group btn-group-justified">

  <button type="button" class="btn btn-primary state-disable-for-offline"         onclick="pg_ctl( { x: this, host:  '{{ detail_host }}', version:  '{{ detail_version }}', cluster: '{{ detail_cluster }}',action:  'stop', call_success: fill_details}) ">Stop</button>
  </div>
  <div class="btn-group btn-group-justified">

  <button type="button" class="btn btn-primary state-disable-for-offline"         onclick="pg_ctl( { x: this, host:  '{{ detail_host }}', version:  '{{ detail_version }}', cluster: '{{ detail_cluster }}',action:  'reload', call_success: fill_details})">Reload</button>
  </div> 
  <div class="btn-group btn-group-justified">

  <button type="button" class="btn btn-primary state-disable-for-offline"         onclick="pg_ctl( { x: this, host:  '{{ detail_host }}', version:  '{{ detail_version }}', cluster: '{{ detail_cluster }}',action:  'restart', call_success: fill_details})">Restart</button>
  </div>
  <div class="btn-group btn-group-justified">

  <button type="button" class="btn btn-primary state-disable-for-no-recovery state-disable-for-offline" onclick="pg_ctl(  { x: this, host:  '{{ detail_host }}', version:  '{{ detail_version }}', cluster: '{{ detail_cluster }}',action:  'promote', call_success: fill_details}) )" >Promote</button>
  </div>
  <div class="btn-group btn-group-justified">

  <button type="button" class="btn btn-primary state-disable-for-online"  onclick="pg_ctl(  { x: this, host:  '{{ detail_host }}', version:  '{{ detail_version }}', cluster: '{{ detail_cluster }}',action: 'remove', call_success: goto_dash} ) ">Remove</button>
  </div>
	 
	 </div>
 <br>State: 
 <span class="pg_state" style="font-size: 32px"></span><br>
  <span id="pg_log"></span>

  </div>

	
</div>

	</div>

	<div class="col-sm-8" style="min-width: 400px">

<div class="panel panel-default">
	<!--  <div class="panel-heading" style="font-weight: bold">Utilities</div>-->
  <div class="panel-body" >
 <div class="btn-group btn-group-justified">
	 {% for deeplink in environment['deeplinks'] %}
	 {% if loop.index0 % 4 == 0 %}
		 </div>
	 	<div class="btn-group btn-group-justified">
	 {% endif %}
	 <div class="btn-group btn-group-justified">
		 <button type="button" class="btn btn-primary" onclick="window.location='https://{{ detail_host }}{{deeplink['url'] }}'" >
			 <img src="{{ url_for('index') }}static/{{ deeplink["image"] }}" style="height:40px"><br>
			 	{{ deeplink["label"] }}
		 </button>
	 </div>
	{% endfor %}
 </div>
 
  </div>

	
</div>

	</div>




	</div>

<div class="row">
	<div class="col-sm-4" style="min-width: 300px">
		<div class="panel panel-default">
		  <div class="panel-heading" style="font-weight: bold"> System-Information  </div>
		  <div class="panel-body" >
			  <table class="table table-responsive">
			  {% for element in environment['detailview_system'] %}
			  <tr class="es_disabled">
				{% if 'formoverride' in element %}
					<td>{{element['label']}}</td><td>{{ element['formoverride'] | safe }}</td>
				{% else %}
					<td>{{element['label']}}</td><td><span class="{{element['data']}}">unknown</span> </td>
				{% endif %}
			    <tr>
			  {% endfor %}
			  </table>
			  <br>
		  </div>
		</div>
	</div>
   <div class="col-sm-4" style="min-width: 500px">
	<div class="panel panel-default">
	  <div class="panel-heading" style="font-weight: bold">
	  Cluster-Configuration
	  </div>
  <div class="panel-body" >
   <input class="settings_hostname" value="{{ detail_host }}"    hidden>
   <input class="settings_version" value="{{ detail_version }}" hidden>
   <input class="settings_cluster" value="{{ detail_cluster }}" hidden>

	  <table class="table table-responsive configtable">
		  <tr><td><b>URL:</b></td><td>postgresql://{{ detail_host}}:<span class="pg_port"></span>/postgres<br>
					      host={{ detail_host}} port=<span class="pg_port"></span>	</td></tr>
		  <tr><td><b>ClusterName:</b></td><td> <span class="pg_cluster"></span>		</td></tr>
		  <tr><td><b>Version</b></td><td><span class="pg_version"></span>		</td></tr>
<script> 
			  {% for element in environment['detailview_cluster'] %}
				add_to_mandatory_elements( '{{ element['data' ] }}' );
			  {% endfor %}
</script>
				<tr class="below_hidden_config">
					<td> <button type="button" class="btn btn-primary" onclick="$('.hidden_config').toggle('hidden')">show/hide all changed parameters</button> </td>
					<td><button type="button" class="btn btn-primary" onclick="update_conf( this, '{{detail_host}}','{{detail_version}}','{{detail_cluster}}'  )">Save</button>
					 </td>
				</tr>
			  </table>
		  </div>
		</div>
   </div>
   <div class="col-sm-4" style="min-width: 500px">
	<div class="panel panel-default">
	  <div class="panel-heading" style="font-weight: bold">
	  PostgreSQL Host-Based Authentication
	  </div>
  <div class="panel-body" >
  </div></div>


</div>
<script>

$(document).ready(function() {
	get_host( '{{ detail_host }}', '{{ detail_cluster }}', '{{ detail_version }}' ) ;
	add_detail_graphs();
	provision_mandatory_elements();
});

</script>
{% endblock %}
