{% macro table_hosts() -%}
  <table id="hosts" class="table table-striped table-bordered cell-border compact hover">
	  <thead>
<tr>	
<th>Host</th>
<th>Available Versions</th>
<th>State</th>
<th>Actions</th>
</tr>
	</thead>

<tbody id="hostlist">


</tbody>
  </table>
 {%- endmacro %}

 {% macro table_clusters() -%}
  <table id="clusters" class="table table-striped table-bordered cell-border compact hover">
	  <thead>
<tr>	
<th>Name</th>
<th>Version</th>
<th>Host</th>
<th>Port</th>
<th>State</th>
<th>Actions</th>
</tr>
	</thead>

<tbody id="clusterlist">


</tbody>
  </table>
{%- endmacro %}


{% macro js_clusterview(hostlist) -%}
<script>
var $table_clusters;
var $table_hosts;

function hide_and_reset_querybar(){
	setTimeout(function(){
		$('#querying_hosts_div').css('height',0);
		$('#querying_hosts_bar').css("width","0%");
		$('#querying_hosts_bar_error').css("width","0%");
		}, 500);

	}


function refresh(){
	$('#querying_hosts_bar').css("transition","0s all");
	$('#querying_hosts_bar').css("width","0%");
	$('#querying_hosts_bar').css("transition","0.2s all");
	$('#querying_hosts_div').css('height',3);

	$table_clusters.clear();
	$table_hosts.clear();
	$table_clusters.draw();



	var query_progress=0;
	var query_fail = 0;
	var parties = {{ hostlist.__len__() }} ;
	function pullClusterInfo( _url ){
		$.ajax({url: 'http://'+_url+':15432/cluster/',
		       success: function(result){
					var rawRow = $table_hosts.row.add( [ _url,
						'<span class="label label-success">9.6</span> <span class="label label-success">10</span> <span class="label label-success">todo</span>',
						'<span class="label label-success">connected</span>', 
						'<button type="button" class="btn btn-default btn-sm">Details</button>'] ).draw(true).node() ;
					        //$(rawRow).css("font-weight","bold");
		        			//$(rawRow).css("box-shadow","0px 0px 6px lightblue inset");
			
						for ( var i = 0; i < result.length ; i++ ){
							//console.log( result ) ;
							var state = 'Unknown';
							if (result[i]['running']=='1'){state='<span class="label label-success">ONLINE</span>';}
							else if ( result[i]['running']=='0')  {state='<span class="label label-danger">OFFLINE</span>';}
							if (result[i]['recovery']=='1'){state+='<span class="label label-info">IN RECOVERY</span>';}
	
							var dbelement = $table_clusters.row.add([
								  result[i]['cluster'],
								  result[i]['version'],
								  _url,
								  result[i]['port'],
								  state,
								  '<a href="/detail/'+_url+'/'+result[i]['version']+'/'+result[i]['cluster']+'"><button type="button" class="btn btn-default btn-sm">Details</button></a>'+
								  '<a href="https://localhost/grafana/d/5CGjHlRiz/postgresql-server-overview?refresh=1m&orgId=1"> <button type="button" class="btn btn-default btn-sm">Monitoring</button></a>' 
									]).draw(true).node() ;
						}
						query_progress += 100. / parties;
						$('#querying_hosts_bar').css("width",""+query_progress+"%");
						if (query_progress+query_fail >= 99) {
							hide_and_reset_querybar();
							}
		      				 },
			error: function(request, status, error){
					query_fail += 100. / parties;
					$('#querying_hosts_bar_error').css("width",""+query_fail+"%");

					var rawRow = $table_hosts.row.add( [_url,
						  '',
						  '<span class="label label-danger">unreachable</span>',
						  ''
						] ).draw(true).node() ;
				        //$(rawRow).css("font-weight","bold");
				        //$(rawRow).css("box-shadow","0px 0px 3px #ff0000 inset");
					if (query_progress+query_fail >= 99) {
						hide_and_reset_querybar();
						}
					}
			})
		};
	{% for host in hostlist %}
	setTimeout(function(){ 
			pullClusterInfo( '{{ host['address'] }}' )
			}, 1);
	{% endfor %}
}

$(document).ready(function() {
	$table_clusters = $('#clusters').DataTable({"order":[[0, "asc"] ], "paging": false }); 
		//"ajax": '/state'
	$table_hosts = $('#hosts').DataTable({"order":[[0, "asc"]], "paging": false });
		//"ajax": '/state'
refresh();
});

</script>
{%- endmacro %}
