{% import 'makros/utils.html' as utils %}

{% macro table_hosts() -%}
<table id="hosts" class="table table-striped table-bordered cell-border compact hover">
	<thead>
		<tr>
			<th>Host</th>
			<th>Available Versions</th>
			<th>State</th>
			<th>Actions</th>
		</tr>
	</thead>

	<tbody id="hostlist">


	</tbody>
</table>
{%- endmacro %}

{% macro table_clusters() -%}
<table id="clusters" class="table table-striped table-bordered cell-border compact hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Version</th>
			<th>Host</th>
			<th>Port</th>
			<th>State</th>
			<th>Actions</th>
		</tr>
	</thead>

	<tbody id="clusterlist">


	</tbody>
</table>
{%- endmacro %}


{% macro js_clusterview(hostlist) -%}
<script>
	var $table_clusters;
	var $table_hosts;
	var $within_dialog = false;

	function remove_host(t) {
		console.log($(t).attr('data'));
		$.ajax({
			url: "/portal/host_del/" + $(t).attr('data'),
			complete: function () { location.reload() }
		});

	}

	function join_cluster(t) {
		$.ajax({
			url: "/portal/host_init/?hostaddress=" + $(t).closest('div').find('#host_ip').val() + '&&clusteraddress=' + $(t).closest('div').find('#cluster_ip').val(),
			complete: function () { location.reload() }
		});

	}

	function pushClusterInfo(_url) {
		var Host = new ES_Host(_url);
		Host.add_to_table($table_hosts);

		$table_hosts.draw(false);
		$table_clusters.draw(false);
		querybar_add_success();
	}

	function refresh() {
		if (!$table_clusters) {
			$table_clusters = $('#clusters').DataTable({ "order": [[0, "asc"]], "paging": false });
			$table_hosts = $('#hosts').DataTable({ "order": [[0, "asc"]], "paging": false });
		}else { $table_clusters.clear(); $table_hosts.clear(); }
		{% for host in hostlist %}
		setTimeout(function () {
			pushClusterInfo('{{ host['address'] }}')
		}, 1);
		{% endfor %}
	}
	$(document).ready(function () {
		refresh();
	});

</script>
{{ utils.clusterctl_js() }}

{%- endmacro %}