{% macro clusterctl_js() -%}
<script>
	class ES_Host {
		constructor(hostname, pgapi_clusterobject) {
			this.hostname = hostname;
			this.co = pgapi_clusterobject; // clusterobject
			this.so = null;					// systemobject

			this.table = null;
			this.data_in_table = null;
		};
		get_clusters() {
			for (let i = 0; i < this.co.length; i++) {

				console.debug(i);
				var Cluster = new ES_Cluster(this.hostname, this.co[i]);
				console.debug(Cluster);
				$table_clusters.row.add(Cluster.to_table_row());
			}

		}
		_update() {
			this.reference[0] = this.hostname;
			this.reference[1] = this.available_versions_dom();
			this.reference[2] = this.online_state_dom();
			this.reference[3] = this.add_button_dom();
			this.table.rows().invalidate().draw(false);
		};
		available_versions_dom() {
			var versions = '';
			$.each(this.so['installed_pg_versions'],
				function (version) {
					versions += ('<span class="label label-success">' + version + '</span> ');

				});
			return versions;
		}
		online_state_dom() {
			if (this.so) { return '<span class="label label-success">connected</span>'; }
			return '<span class="label label-danger">unreachable</span>';
		}
		add_button_dom() {
			var modal_identifier = 'createcluster' + Math.floor(Math.random() * 100000);
			var button = $('<span class="addButton"></span>');
			$(button).append(
				$('<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#'
					+ modal_identifier
					+ '"><span class="glyphicon glyphicon-plus"></span></button>'
					+ '<button type="button" class="btn btn-danger btn-sm" data="' + this.hostname + '" onclick="' + 'remove_host(this);'
					+ '" ><span class="glyphicon glyphicon-trash"></span></button>  '
					+ new Modal_addInstance(this.hostname, [1,2,3,4], modal_identifier).html()));
			$(button).find('#' + modal_identifier).on('shown.bs.modal', function () { $within_dialog = true; });
			$(button).find('#' + modal_identifier).on('hidden.bs.modal', function () { $within_dialog = false; });
			$.each(this.so['installed_pg_versions'],
				function (version) {
					console.log("ADDED VERSION TO MODAL")
					$(button).find('.versionlist').append(`
					<div class="btn-group btn-group-justified">
					<button type="button" class="btn btn-default versionselector" onclick="$('.versionselector').removeClass('active'); $(this).addClass('active'); " data-button="`+ version + `">` + version + `</button>
					</div>`);
				});

			return $(button).html();
		}

		make_row() {
			return [this.hostname,
				'<div class="available_versions"></div>',
				'<span class="label label-success">connected</span>',
				'<span class="addButton"></span>']
		}
		add_to_table(table) {
			this.table = table;
			this.reference = table.row.add(
				this.make_row()
			).data();
		};
		apisync() {
			var HostObject = this; // namespacing
			pg_ctl({
				host: this.hostname, action: 'ls-system',
				call_success: function (data) {
					HostObject.so = data;
					HostObject._update();
				}
			});

		};
	};


	class ES_Cluster {
		constructor(host, pgapi_object) {
			this.host = host;
			this.name = pgapi_object['cluster'];
			this.version = pgapi_object['version'];
			this.ao = pgapi_object; // api_object. Shortened as it is used a lot.
			//console.debug(this);
		};
		to_table_row() {
			var state = 'Unknown';
			var disable_start = '';
			var disable_stop = '';
			if (this.ao['running'] == '1') { state = '<span class="label label-success">ONLINE</span>'; disable_start = 'disabled'; }
			else if (this.ao['running'] == '0') { state = '<span class="label label-danger">OFFLINE</span>'; disable_stop = 'disabled'; }
			if (this.ao['recovery'] == '1') { state += '<span class="label label-info">IN RECOVERY</span>'; }


			return [
				this.ao['cluster'],
				this.ao['version'],
				this.host,
				this.ao['port'],
				state,
				'<a href="{{ url_for("index") }}detail/' + this.host + '/' + this.ao['version'] + '/' + this.ao['cluster'] + '">' +
				'<button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></button></a> ' +
				'<div class="btn-group" role="group">' +
				'<div class="btn-group" role="group"><button type="button" class="btn btn-success btn-sm" ' +
				'onclick="pg_ctl( { x: this, host:  \'' +
				this.host + '\', version:  \'' +
				this.ao['version'] + '\', cluster: \'' +
				this.ao['cluster'] +
				'\',action:  \'start\', call_success: refresh})" ' + disable_start + '>' +
				'<span class="glyphicon glyphicon-play"    aria-hidden="true"></span></button></div>' +
				'<div class="btn-group" role="group"><button type="button" class="btn btn-default btn-sm"' +
				'onclick="pg_ctl( { x: this, host:  \'' +
				this.host + '\', version:  \'' +
				this.ao['version'] + '\', cluster: \'' +
				this.ao['cluster'] +
				'\',action:  \'reload\', call_success: refresh})" ' + disable_stop + ' >' +
				'<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button></div>' +
				'<div class="btn-group" role="group"><button type="button" class="btn btn-warning  btn-sm"' +
				'onclick="pg_ctl( { x: this, host:  \'' +
				this.host + '\', version:  \'' +
				this.ao['version'] + '\', cluster: \'' +
				this.ao['cluster'] +
				'\',action:  \'stop\', call_success: refresh})" ' + disable_stop + ' >' +
				'<span class="glyphicon glyphicon-stop" aria-hidden="true" ></span></button></div>' +
				'</div>'
				//+'<a href="https://localhost/grafana/d/5CGjHlRiz/postgresql-server-overview?refresh=1m&orgId=1">'
			];
		};

	};


	// Legacy
	var global_configurations = {};

	function clear_stateclasses(x) {
		$(x).removeClass("request-waiting");
		$(x).removeClass("request-success");
		$(x).removeClass("request-fail");
	};

	function log(msg) {
		var l = $('#pg_log');
	}

	function issue_clustercall(host, version, cluster, method, data, call_success, call_fail) {
		var deeplink = ''
		if (version && cluster) { deeplink = '/' + version + '/' + cluster; }
		$.ajax({
			url: '{{ url_for("index") }}pgapi/proxy/cluster/' + host + deeplink,
			method: method,
			data: data,
			contentType: "application/json; charset=utf-8",
			success: call_success,
			error: call_fail,
		});
	}

	function issue_systemcall(host, argument, call_success, call_fail) {
		var deeplink = ''
		if (argument) { deeplink = '/' + argument; }

		$.ajax({
			url: '{{ url_for("index") }}pgapi/proxy/system/' + host + deeplink,
			method: 'get',
			contentType: "application/json; charset=utf-8",
			success: call_success,
			error: call_fail,
		});
	}


	function pg_ctl(obj) {
		//(x, host, version, cluster, action, call_success, call_fail ){
		var x = obj.x;
		var host = obj.host;
		var version = obj.version;
		var cluster = obj.cluster;
		var action = obj.action;
		var call_success = obj.call_success;
		var call_fail = obj.call_fail;
		var rest_args = obj.data ? obj.data : {};
		var rest_method;

		if ($(x).is('input')) { x = $(x).closest('div') };

		if ($.inArray(action.toLowerCase(), ["start", "stop", "reload", "restart"]) != -1) {
			rest_args['state'] = action;
			rest_method = 'PATCH'
		}
		else if (action == 'ls') {
			rest_method = 'GET';
		}
		else if (action == 'create') {
			rest_method = 'POST';
		}
		else if (action == 'remove') {
			rest_method = 'DELETE';
		}
		else if (action == 'config-only') {
			rest_method = 'PATCH';
		}
		else if (action == 'ls-system') {
			// Magic specialcase
			issue_systemcall(host, undefined, call_success, call_fail);
			return;
		}
		else { console.log("pg_ctl call does not support this action! Action was '" + action + "'") }
		$(x).addClass("active");
		$(x).addClass("request-waiting");
		issue_clustercall(host, version, cluster, rest_method, JSON.stringify(rest_args),
			function (data) {
				$(x).removeClass("active");
				$(x).addClass("request-waiting");
				$(x).addClass("request-success");
				if (call_success) { call_success(data) };
			},
			function (request, status, err) {
				var errmsg = '';
				try { errmsg = request.responseJSON['stderr']; }
				catch (e) { ; };

				push_notification(err + ' : ' + errmsg);
				$(x).removeClass("active");
				$(x).addClass("request-waiting");
				$(x).addClass("request-fail");
				if (call_fail) { call_fail(request, status, err) };
			});
	}

	function inputvalues_to_dict(lowerthan) {
		var data = {};
		$(lowerthan).find('input[type=checkbox]:not(.formignore)').each(function (index) {
			var element = $(this);
			var value = $(element).prop('checked');
			data[element.val()] = value;
		});
		$(lowerthan).find('input[type=text]:not(.formignore)').each(function (index) {
			var element = $(this);
			var value = $(element).val();
			if (value != '') { data[element.attr('name')] = value; };
		});
		return data;

	}

	function update_conf(x, host, version, cluster) {
		var restArgs = { config: {} };


		$.each(global_configurations['main_detailview'].defaults, function (i, v) {
			if (v.changed == true) {
				console.log(v.current_value);
				restArgs['config'][v.data.name] = v.current_value;
			}
		});
		console.log(restArgs);
		pg_ctl({
			x: x,
			host: host,
			version: version,
			cluster: cluster,
			action: 'config-only',
			data: restArgs,
			call_success: fill_details
		});
	}

	function goto_dash() { document.location.href = '{{ url_for("index") }}'; }


	function createConfigRow(initially_hidden, config_name, selector_key) {
		var hidden_config = initially_hidden ? 'hidden_config' : '';
		return $('<tr class="' + hidden_config + '"  ' + initially_hidden + ' ><td class="confname">'
			+ config_name
			+ '</td><td><input type="text" class="'
			+ selector_key
			+ '" onKeyPress="tag_as_modified(this)" value="default" list="dlist_' + config_name + '" ></input></td></tr>');

	}

	function getConfigRow(obj) {
		var hidden = obj.hidden == true ? 'hidden' : '';
		var selector_key = obj.selector.replace(/(\.)/g, ' ');
		var selector_split = selector_key.split(' ');
		var returned_element;
		var configName = (selector_split[selector_split.length - 1]).replace('pg_', '')


		returned_element = createConfigRow(hidden, configName, selector_key);

		returned_element.find('input').keyup(function (event) {
			event.preventDefault();
			// Number 13 is the "Enter" key on the keyboard
			if (event.keyCode === 13) {
				// Trigger the button element with a click
				update_conf(this,
					$('.settings_hostname').val(),
					$('.settings_version').val(),
					$('.settings_cluster').val()
				);
			}
		});
		return returned_element;
	}

	function inject_config_row(obj) {
		//obj.insertBefore(".below_hidden_config");
	}


	function fill_details(details, host) {
		if (details['cluster']) { // details is most likely a system-ls. No need to reset variables
			$('.state-disable-for-online').prop('disabled', false);
			$('.state-disable-for-offline').prop('disabled', false);
			$('.state-disable-for-recovery').prop('disabled', false);
			$('.state-disable-for-no-recovery').prop('disabled', false);

			var runstate = '';
			if (details['running'] == 1) {
				runstate = '<span class="label label-success">online</span>';
				$('.state-disable-for-online').prop('disabled', true);
			}
			else {
				runstate = '<span class="label label-danger">offline</span>';
				$('.state-disable-for-offline').prop('disabled', true);
			}
			if (details['recovery'] == 1) {
				runstate += '<span class="label label-info">in recovery</span>';
				$('.state-disable-for-no-recovery').prop('disabled', true);
			}
		};

		function recurse(stack, data) {
			for (var key in data) {
				// Specialcasing most non-valid class definers
				var selector_key = stack + '.pg_' + key.replace(/\//g, '_s_');
				selector_key = selector_key.replace(/ /g, '_s_');
				selector_key = selector_key.replace(/'/g, '_s_');

				if (data[key] instanceof Object) {
					recurse(selector_key, data[key])
				}
				else {
					var value = data[key];
					var nestedGraphs = $(selector_key).closest('tr').find('.pg_chart');
					if (nestedGraphs.length > 0) {
						var graph = $(nestedGraphs).data("graph");
						graph.series.addData({ 'default': value });
						graph.update();
					}
					if (['free', 'total', 'used', 'active', 'available', 'cached', 'shared'].indexOf(key) != -1) {
						value = bytes_prettyprint(value);
					}
					if ($(selector_key).length <= 0 && selector_key.indexOf('pg_config') != -1) {
						// getConfigRow({ selector : selector_key,  key: key, hidden: true } ).insertBefore(".below_hidden_config");
					}
					$(selector_key).html(value);

					$(selector_key).val(value);

					$(selector_key).closest('tr').removeClass("es_disabled");
				}
			};
		}
		recurse('', details);
		if (host) { $('.pg_hostname').html(host); }
		$('.pg_state').html(runstate);

	}
	function online() { $('.no-signal').remove(); $('body').removeClass('no-conn'); };
	function offline() {
		if ($('.no-signal').length) { return; };
		$('body').addClass('no-conn');
		var disabled = $('<li>');
		var msg = $('<span>');
		$(disabled).addClass('no-signal');

		$(msg).addClass("glyphicon");
		$(msg).addClass("glyphicon-signal");
		$(msg).attr("aria-hidden", "true");

		$(disabled).append($('<a>').append($(msg)));
		$('.navbar-right').prepend($(disabled));
	};

	function get_host(hosturl, clustername, clusterversion) {
		pg_ctl({
			host: hosturl,
			cluster: clustername,
			version: clusterversion,
			action: 'ls',
			call_success: function (result) { fill_details(result, hosturl); online(); },
			call_fail: function () { offline(); },

		});
		function poll_metrics() {
			pg_ctl({
				host: hosturl,
				cluster: clustername,
				version: clusterversion,
				action: 'ls-system',
				call_success: function (result) { fill_details(result, hosturl); online(); },
				call_fail: function () { offline(); },
			});
			setTimeout(poll_metrics, 2000);
		}
		poll_metrics();


	};

	function querybar_hide_and_reset() {
		setTimeout(function () {
			$('#querying_hosts_div').css('opacity', 0);


			$('#querying_hosts_bar').css("width", "0%");
			$('#querying_hosts_bar_error').css("width", "0%");
		}, 500);
	}

	function tag_as_modified(x) {
		$(x).addClass("config_modified");
	}

	function querybar_get() {
		var querybar = {
			bar: '#querying_hosts_div',
			success: '#querying_hosts_bar',
			fail: '#querying_hosts_bar_error',
		};
		return querybar;
	}

	function querybar_set_numelements(numelements) {
		$('#querybar_elements').attr('numElements', numelements);
	}

	function querybar_get_numelements() {
		return $('#querybar_elements').attr('numElements');
	}

	function querybar_hide_if_full() {
		var querybar = querybar_get();
		if ((Number($(querybar.fail).attr("aria-valuenow")) +
			Number($(querybar.success).attr("aria-valuenow"))) >= 99) { querybar_hide_and_reset() }
	}

	function querybar_reset_and_init() {
		var querybar = querybar_get();

		$(querybar.bar).css("transition", "0s all");
		$(querybar.success).css("width", "0%");
		$(querybar.fail).css("width", "0%");

		$(querybar.success).attr("aria-valuenow", "0");
		$(querybar.fail).attr("aria-valuenow", "0");

		$(querybar.bar).css("transition", "0.2s all");
		$(querybar.bar).css('height', "3px");
		$(querybar.bar).css('opacity', 1);

		return querybar;
	}

	function querybar_add_fail() {
		var querybar = querybar_get();

		$(querybar.fail).attr("aria-valuenow",
			Number($(querybar.fail).attr("aria-valuenow")) + 100 / Number(querybar_get_numelements())
		);
		$(querybar.fail).css("width", $(querybar.fail).attr("aria-valuenow") + "%");
		querybar_hide_if_full();
	}

	function querybar_add_success() {
		var querybar = querybar_get();

		$(querybar.success).attr("aria-valuenow",
			Number($(querybar.success).attr("aria-valuenow")) + 100 / Number(querybar_get_numelements())
		);
		$(querybar.success).css("width", $(querybar.success).attr("aria-valuenow") + "%");
		querybar_hide_if_full();
	}

	function bytes_prettyprint(number) {
		var num = Number(number);
		var sizes = ['', 'k', 'M', 'G', 'T'];
		var iterations = 0;
		while (num >= 10000) {
			num = num / 1024;
			iterations += 1;
		}
		return Math.floor(num) + sizes[iterations] + 'B';
	}

	function add_detail_graphs() {
		$('.pg_addgraph').closest('td').append('<div class="pg_chart" style="float: right; border: 1px solid #aaaaaa;"></div>');
		$('.pg_chart').each(function () {
			var randomspeed = 1 + Math.random();
			var plotdata = [[{ x: 0, y: 0 },]];
			var graph = new Rickshaw.Graph({
				element: this,
				width: 120,
				height: 18,
				renderer: 'line',
				series:
					new Rickshaw.Series.FixedDuration([{
						name: 'default',
						color: 'lightblue',
					}],
						undefined,
						{
							maxDataPoints: 30,
							timeInterval: 2000,
						})
			});
			graph.render();
			$(this).data("graph", graph);
		});
	};

	function load_pgconf_details(version) {
		$.ajax({
			type: "GET",
			url: "{{ url_for('index')}}/pg_settings/" + version,
			contentType: "application/json; charset=utf-8",

			success: function (data) {
				console.log("CSV");

				$.each(data, function (index, value) {
					if (!$('.pg_' + index).length) {
						console.warn("does not exist");
						inject_config_row(getConfigRow(
							{
								selector: "pg_config pg_" + index,
								hidden: true
							}));
					}
					if (value.enumvals) {
						var enumvals = value.enumvals.substr(1, value.enumvals.length - 2).split(',');
						console.warn('ENUM!'); console.warn(enumvals);
						console.warn($('.pg_' + index));
						var enumlist = $('<datalist id="dlist_' + index + '"></datalist>');
						$.each(enumvals, function (i, v) { $(enumlist).append($('<option>' + v + '</option>')); });
						var target_location = $('.pg_' + index).closest('td');
						$(target_location).append(enumlist);
						$('.pg_' + index).click(function () { $(this).val("") });


					};
					if (value.context == 'internal' || value.context == 'postmaster') {
						var requiresRestart = $('<div class="tooltip"><span class="glyphicon glyphicon-refresh" aria-hidden="true"><span class="tooltiptext">Change requires restart</span></span></div>');
						$(requiresRestart).css('opacity', '0.5');
						$('.pg_' + index).closest('td').append(requiresRestart);
					};



				});

			},
			error: function (xhr, status, error) { console.log(xhr); console.log(status); console.log(error); }
		});

	}

	function tick_changed(element) {
		var config_name = $(element).closest('.configname').attr('configname');

		var relevant_configelement = global_configurations['main_detailview'].defaults[config_name];
		relevant_configelement.set_changed();

		if (['bool',].indexOf(relevant_configelement.data.vartype) >= 0) {
			relevant_configelement.set_current_value($(element).attr('value'));
			relevant_configelement.to_dom().insertBefore($(element).closest('tr'));
			$(element).closest('tr').remove();
		}
		if (['enum',].indexOf(relevant_configelement.data.vartype) >= 0) {
			relevant_configelement.set_current_value($(element).html());
			relevant_configelement.to_dom().insertBefore($(element).closest('tr'));
			$(element).closest('tr').remove();
		}

		if (['string', 'integer', 'real'].indexOf(relevant_configelement.data.vartype) >= 0) {
			relevant_configelement.set_current_value($(element).val());
			console.log(relevant_configelement.current_value);
		}
	}

	class configElement {
		constructor(obj) { this.data = obj; this.changed = false; this.current_value = null; };
		set_current_value(value) {
			this.current_value = value;
		}
		set_changed() { this.changed = true; };
		input_element() {
			var current_value = '';
			if (this.current_value) {
				if (['string', 'integer', 'real'].indexOf(this.data.vartype) >= 0) { current_value = 'value="' + this.current_value + '"'; };
			};
			if (['string', 'integer', 'real'].indexOf(this.data.vartype) >= 0) { return $('<div class="input-group"><span class="input-group-addon" style="width:70px">' + this.data.vartype + '</span><input type="text" class="form-control" placeholder="' + this.data.boot_val + '" aria-describedby="basic-addon2" ' + current_value + ' onblur="tick_changed(this)" ><span class="input-group-addon" style="width:50px" id="basic-addon2">' + this.data.unit + '</span></div>'); };

			if (this.data.vartype == 'enum') {
				var t = this;
				var display_current_value = t.current_value;
				if (display_current_value == null) { display_current_value = t.data.boot_val };
				var element = $('<div class="btn-group"> <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">' + display_current_value + '<span class="caret"></span> </button>');
				var list = $('<ul class="dropdown-menu"></ul>');
				$.each(this.data.enumvals.substr(1, this.data.enumvals.length - 2).split(','), function (index, value) {
					$(list).append($('<li><a href="#" onclick="tick_changed(this); return false;" disabled >' + value + '</a></li>'))
				});
				$(element).append(list);
				return element;
			};
			if (this.data.vartype == 'bool') {
				var ON = 'btn-default';
				var OFF = 'btn-default';
				if (this.data.boot_val == 'on') { ON = 'btn-info'; } else { OFF = 'btn-info'; }

				if (this.current_value == 'on') { ON = 'btn-success'; }
				if (this.current_value == 'off') { OFF = 'btn-danger'; }

				return $('<div class="btn-group" role="group"><button type="button" class="btn ' + ON + '" value="on" role="button" onclick="tick_changed(this);" >ON</button><button type="button" role="button" class="btn ' + OFF + '" value="off" onclick="tick_changed(this);">OFF</button></div>');
			};
		}

		to_dom() { var row = $('<tr><td class="config_name">' + this.data.name + '</td><td class="input_cell"></td></tr>'); row.find('.input_cell').append(this.input_element()); return row; };
		to_object() {
			var row = {
				"name": this.data.name,
				"value": '<span class="configname" configname="' + this.data.name + '">' + (this.input_element().prop('outerHTML')) + '</span>'
			};
			//'<div>'];
			return row;
		};
	};

	class Configuration {
		parse_defaults(data) {
			var parsed_dict = {};
			var t = this;
			$.each(data, function (index, value) {
				parsed_dict[index] = new configElement(value);
			});
			return parsed_dict;
		}
		parse_settings(data) {
			var t = this;
			$.each(data['config'], function (index, value) {
				if (t.defaults[index]) { t.defaults[index].set_current_value(value); }
			});

			return null;
		}



		load_settings() {
			var t = this;
			var deeplink = '';
			if (t.version && t.clustername) { deeplink = '/' + t.version + '/' + t.clustername; }
			$.ajax({
				type: "GET",
				url: "{{ url_for('index')}}/pgapi/proxy/cluster/" + t.host + deeplink,
				contentType: "application/json; charset=utf-8",
				success: function (data) { t.settings = t.parse_settings(data); t.display_configuration(); },
				error: function () { }
			});
		};


		load_defaults() {
			var t = this;
			$.ajax({
				type: "GET",
				url: "{{ url_for('index')}}/pg_settings/" + t.version,
				contentType: "application/json; charset=utf-8",
				success: function (data) { t.defaults = t.parse_defaults(data); t.load_settings(); },
				error: function () { }
			});
		};

		display_configuration() {
			var datatable = this.datatable;
			var frontpage_items = this.frontpage_items;
			$.each(this.defaults, function (index, value) {
				var row_object = value.to_object();
				var is_frontpage = 0;

				if (frontpage_items[row_object['name']]) { is_frontpage = 1; };
				datatable.row.add([is_frontpage, row_object['name'], row_object['value']]);
			}
			);
			datatable.draw(false);
		}

		init_data() {
			this.datatable = $('.configtable').DataTable(
				{
					"order": [[0, "desc"]],
					"paging": true,
					"columnDefs": [
						{
							"targets": [0],
							"visible": false,
							"searchable": false
						},]
				});
			this.load_defaults();

		}

		constructor(host, version, clustername, frontpage_items) {
			this.version = version;
			this.host = host;
			this.clustername = clustername;
			this.defaults = {};
			this.settings = {}
			this.datatable = null;
			this.frontpage_items = frontpage_items;

			global_configurations['main_detailview'] = this;
			this.init_data();
		}
	}

	function to_modal(title, content, uid) {

		var outer_modal = $('<div>');
		var inner_modal = $('<div>');
		var content_modal = $('<div>');
		var header_modal = $('<div>');
		var title_modal = $('<h4>');
		var body_modal = $('<div>');

		$(outer_modal).attr('id', uid);
		$(outer_modal).attr('role', 'dialog');
		$(outer_modal).addClass('modal');
		$(outer_modal).addClass('dialog');

		$(inner_modal).addClass("modal-dialog")

		$(outer_modal).append(inner_modal);

		$(content_modal).addClass('modal-content');
		$(header_modal).addClass('modal-header');
		$(title_modal).addClass('modal-title');

		$(title_modal).append(title);

		$(title_modal).addClass('modal-title')

		$(header_modal).append(title_modal);
		$(header_modal).append('<button type="button" class="close" data-dismiss="modal">&times;</button>');

		$(content_modal).append(header_modal);
		$(body_modal).append(content);
		$(content_modal).append(body_modal);
		$(inner_modal).append(content_modal);


		return $(outer_modal);
	}
	class Modal_addInstance {

		html() { return to_modal(this.title, this.content, this.uid).prop('outerHTML'); }
		constructor(host, versions, uid) {
			this.versions = versions;
			this.uid = uid;
			this.host = host;
			this.title = 'Add Instance';
			this.content = `
			<div style="padding: 15px">
			<form>	
			<!--			<label >ClusterName:</label>
	    <input type="text" id="clustername" class="form-control formignore" ><br><br>
			-->
			<!--</div>-->
      <div class="btn-group btn-group-justified versionlist">
		</div>
		<br><br>
		<div class="form-inline">
				<div class="input-group">
    		<span class="input-group-addon">Name</span>
    		<input type="text" class="form-control formignore" id="clustername" placeholder="">
  			</div>
<!--
<label class="checkbox-inline"><input type="checkbox" value="data-checksums" checked disabled>Enable Heap-Checksums</label>
</div> Checksums are always enabled
<div class="form-group">-->
<br>
  <div class="input-group">
    <span class="input-group-addon">Port</span>
    <input type="text" class="form-control" name="port" placeholder="auto">
  </div><br>
	
  <div class="input-group" style="width: 100%">
    <span class="input-group-addon">Primary_conninfo</span>
    <input type="text" class="form-control" name="primary_conninfo" placeholder="host='somehost' user='repli' password='secret'">
	</div>

	</form><br>
	<div class="modal-footer">
        <button type="button" class="btn btn-primary"  onclick="
	var version	=	$(this).closest('.modal-dialog').find('.active').attr('data-button');
	var cluster 	=	$(this).closest('.modal-dialog').find('#clustername').val() ;
	if ( cluster == undefined || cluster == ''){ alert ('A name is required.');}
	else if ( version == undefined){ alert ('A version is required'); }
	else{
       	pg_ctl(
					{ x: this,
					 host: '`+ host + `',
					version: version,
					cluster: cluster,
					action: 'create',
						       data: inputvalues_to_dict( $(this).closest('.modal-dialog') ) ,
					call_success: function(){
						$(this).closest('.modal').modal('hide');
						$('body').removeClass('modal-open');
						$('.modal-backdrop').remove();
						$within_dialog = false;
						refresh();
						}});
						}
					;"><span>Create</span></button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><span>Dismiss</span></button></div>`;
			//console.warn(this.content);
		}
	}
</script>


{%- endmacro %}