{% macro clusterctl_js() -%}
<script>

function clear_stateclasses(x){
	$(x).removeClass("request-waiting");
	$(x).removeClass("request-success");
	$(x).removeClass("request-fail");
};


function log(msg){
	var l =  $('#pg_log');
	//console.log(l);
	//l.prepend('<div class="message">'+msg+'</div>');
}


function issue_clustercall( host, version, cluster, method, data, call_success, call_fail ){
	var deeplink = ''
	if (version && cluster) {	deeplink = '/'+version+'/'+cluster; }
	$.ajax({url: '{{ url_for("index") }}pgapi/proxy/'+host+deeplink,
	method: method,
	data: data,
	contentType: "application/json; charset=utf-8",
	success: call_success,
	error: call_fail,
	});
}

function pg_ctl(x, host, version, cluster, action, call_success, call_fail ){
var rest_method;
var rest_args = "";
if ( $.inArray( action.toLowerCase(), ["start","stop","reload","restart"] )!= -1 ){
	rest_args = '{ "state" : "'+action+'"} '
	rest_method = 'PATCH'}
else if ( action == 'ls') {	
	rest_method = 'GET';}
else { console.log("pg_ctl call does not support this action! Action was '"+action+"'") }

clear_stateclasses(x);
$(x).addClass("request-waiting");

issue_clustercall( host, version, cluster, rest_method, rest_args,
		call_success ? call_success : 
		function( data ){ 
		$(x).removeClass("request-waiting");
	 	$(x).addClass("request-success");
		fill_details(data);
		},call_fail ? call_fail :
		function( data, type, message ){
		var errmsg = '';
		try { errmsg = data.responseJSON['stderr'];}
		catch(e){;};

		push_notification( message + ' : '+ errmsg );
		$(x).removeClass("request-waiting");
	 	$(x).addClass("request-fail");	
		});
}


</script>
{%- endmacro %}
