{% macro clusterctl_js() -%}
<script>

function clear_stateclasses(x){
	$(x).removeClass("request-waiting");
	$(x).removeClass("request-success");
	$(x).removeClass("request-fail");
};


function log(msg){
	var l =  $('#pg_log');
	//console.log(l);
	//l.prepend('<div class="message">'+msg+'</div>');
}


function issue_clustercall( host, version, cluster, method, data, call_success, call_fail ){
	var deeplink = ''
	if (version && cluster) {	deeplink = '/'+version+'/'+cluster; }
	$.ajax({url: '{{ url_for("index") }}pgapi/proxy/cluster/'+host+deeplink,
	method: method,
	data: data,
	contentType: "application/json; charset=utf-8",
	success: call_success,
	error: call_fail,
	});
}
function issue_systemcall( host, argument, call_success, call_fail ){
	var deeplink = ''
	if (argument) {	deeplink = '/'+argument; }

	$.ajax({url: '{{ url_for("index") }}pgapi/proxy/system/'+host+deeplink,
	method: 'get',
	//data: data,
	contentType: "application/json; charset=utf-8",
	success: call_success,
	error: call_fail,
	});
}


function pg_ctl( obj ) {
//(x, host, version, cluster, action, call_success, call_fail ){
var x = obj.x;
var host = obj.host;
var version = obj.version;
var cluster = obj.cluster;
var action = obj.action;
var call_success = obj.call_success;
var call_fail = obj.call_fail;
var rest_args = obj.data ? obj.data : {} ;
var rest_method;

if ( $.inArray( action.toLowerCase(), ["start","stop","reload","restart"] )!= -1 ){
	rest_args['state'] = action;
	rest_method = 'PATCH'}
else if ( action == 'ls') {	
	rest_method = 'GET';}
else if ( action == 'create') {	
	rest_method = 'POST';}
else if ( action == 'remove') {	
	rest_method = 'DELETE';}
else if ( action == 'ls-system' ){
	// Magic specialcase
	issue_systemcall( host, undefined, call_success, call_fail );
	return;
	}
else { console.log("pg_ctl call does not support this action! Action was '"+action+"'") }

clear_stateclasses(x);
$(x).addClass("request-waiting");

issue_clustercall( host, version, cluster, rest_method,  JSON.stringify(rest_args) ,
		//call_success ? call_success : 
		function( data ){ 
		$(x).removeClass("request-waiting");
	 	$(x).addClass("request-success");
		if (call_success){ call_success(data) };
		},
		//call_fail ? call_fail :
		function( request,status,err ){
		var errmsg = '';
		try { errmsg = request.responseJSON['stderr'];}
		catch(e){;};

		push_notification( err + ' : '+ errmsg );
		$(x).removeClass("request-waiting");
	 	$(x).addClass("request-fail");
		if (call_fail){call_fail(request,status,err) };
		});
}

function inputvalues_to_dict(lowerthan){
	var data = {};
	$(lowerthan).find('input[type=checkbox]:not(.formignore)').each(function(index){
		var element = $(this);
		var value = $(element).prop('checked');
		data[element.val() ]=value;
	} );
	$(lowerthan).find('input[type=text]:not(.formignore)').each(function(index){
		var element = $(this);
		var value = $(element).val();
		if (value != ''){data[element.attr('name') ]=value;};
	} );
	console.log(data);
	return data;

}

function goto_dash(){document.location.href= '{{ url_for("index") }}';  }


function fill_details( details, host) {
	$('.state-disable-for-online').prop('disabled',false);
	$('.state-disable-for-offline').prop('disabled',false);
	$('.state-disable-for-recovery').prop('disabled',false);
	$('.state-disable-for-no-recovery').prop('disabled',false);


	var runstate = '';
	if ( details['running'] == 1 ){
		runstate='online';
		$('.state-disable-for-online').prop('disabled',true);
	}
	else{ runstate='offline';	
		$('.state-disable-for-offline').prop('disabled',true);
	}
	if ( details['recovery'] == 1 ){
		runstate+=' in recovery';
		$('.state-disable-for-no-recovery').prop('disabled',true);
	}

	for ( var key in details){
		$('.pg_'+key).html( details[key]);
		//alert(key);
	};
	if ( host ) {$('.hostname').html( host ) ; }
	$('.pg_state').html( runstate);
	
}

function get_host( hosturl, clustername, clusterversion){
	pg_ctl({host: hosturl, 
			cluster : clustername, 
			version: clusterversion, 
			action: 'ls', 
			call_success: function(result){ fill_details( result, hosturl )  },
			call_fail: function(){ alert('BAD');},

	 });
	};


function querybar_hide_and_reset(){
	setTimeout(function(){
		$('#querying_hosts_div').css('height',0);
		$('#querying_hosts_bar').css("width","0%");
		$('#querying_hosts_bar_error').css("width","0%");
		}, 500);
	}

function querybar_get(){
	var querybar = {
		bar: '#querying_hosts_div',
		success : '#querying_hosts_bar',
		fail : '#querying_hosts_bar_error',
	};
	return querybar;
}
function querybar_set_numelements( numelements ){
	$('#querybar_elements').attr( 'numElements', numelements );
}
function querybar_get_numelements( ){
	return $('#querybar_elements').attr('numElements');
}

function querybar_hide_if_full(){
	var querybar = querybar_get();
 	if ( (Number($(querybar.fail).attr("aria-valuenow")) + 	
	Number($(querybar.success).attr("aria-valuenow")))  >=99)
	{querybar_hide_and_reset() }
}

function querybar_reset_and_init(){
	var querybar = querybar_get();

	$(querybar.bar).css("transition","0s all");
	$(querybar.success).css("width","0%");
	$(querybar.fail).css("width","0%");

	$(querybar.success).attr("aria-valuenow","0");
	$(querybar.fail).attr("aria-valuenow","0");

	$(querybar.bar).css("transition","0.2s all");
	$(querybar.bar).css('height',3);
	return querybar;
}

function querybar_add_fail(){
	var querybar = querybar_get();
 
	$(querybar.fail).attr("aria-valuenow", 
		Number($(querybar.fail).attr("aria-valuenow")) + 100 / Number(querybar_get_numelements())
		);
	$(querybar.fail).css("width", $(querybar.fail).attr("aria-valuenow") + "%");
	querybar_hide_if_full();
}
function querybar_add_success(){
	var querybar = querybar_get();
 
	$(querybar.success).attr("aria-valuenow", 
		Number($(querybar.success).attr("aria-valuenow")) + 100 / Number(querybar_get_numelements())
		);
	$(querybar.success).css("width", $(querybar.success).attr("aria-valuenow") + "%");
	querybar_hide_if_full();
}




</script>


{%- endmacro %}
