#!/usr/bin/make -f

%:
	dh $@ --with=systemd

override_dh_auto_build:
	# We would like to include the generated docs into the debian package.
	make README.html 
	dh_auto_build

override_dh_link:
	mkdir -p debian/elephant-shed-tmate/etc/skel
	ln -s /etc/tmate.conf debian/elephant-shed-tmate/etc/skel/.tmate.conf
	dh_link -X'tmate.conf' # don't fix /etc/skel link
