<html>
  <head>
    <title>[% TITLE %]</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/elephant-shed.css">
  </head>

  <body>
    <!-- Head Text -->
    <div class="container-fluid p-3 el-header">
      <div class="row">
	<div class="col-10">
	  <h1>[% HEADLINE %]</h1>
	</div>

	<!-- Logos -->
	<!--
	<div class="col-1">
	  <img src="/image/logo_partner.png" alt="partner" height="70">
	</div>
	-->
	<div class="col-1">
	  <a href="https://www.credativ.de" target="_blank"><img src="/image/logo_credativ.png" alt="credativ" height="70"></a>
	</div>
      </div>
    </div>

    [% IF REMOTE_USER %]
    <div class="container-fluid text-right">
      <p>
	<a href="/users#/[% REMOTE_USER %]">Logged in as <em>[% REMOTE_USER %]</em></a> - <a href="/logout">Logout</a>
      </p>
    </div>
    [% END %]
