[% INCLUDE header.html %]

<div class="container col-2 col-offset-5">
  <img src="/image/button_home.png" width="200">
</div>

<div class="container col-6 col-offset-3 text-justify">
  <h2>Error</h2>
  <p>
    A a valid user is required for accessing the PostgreSQL appliance.
  </p>
  <p>
    Every user in the group "elephant-shed" is allowed to log in.
  </p>
  <h2>Hint</h2>
  <p>
    <pre>
# Every user in the group "elephant-shed" is allowed to login at the portal.
# Add all needed users to this group.
sudo adduser &lt;USERNAME&gt; elephant-shed
    </pre>
  </p>
</div>

<div class="container col-6 col-offset-3 text-center">
  <h2><a href="/" style="font-size:large;">Login</a></h2>
</div>

[% INCLUDE footer.html %]
