[% INCLUDE header.html %]

<script>
  function toggleHidden(cluster) {
      var menu = document.getElementById('cluster_'+cluster);
      menu.style.display = menu.style.display == "block" ? "none" : "block";

      var button = document.getElementById('button_'+cluster);
      button.innerHTML = button.innerHTML == "▲" ? "▼" : "▲";
  }
</script>

<div class="container p-3 dash">
  <div class="row justify-content-around text-center">
    <div class="col col-offset-1 component-link">
      <a href="/">
  <img class="main_icon" src="/image/button_home.png" alt="Home">
  <p>Home</p>
      </a>
    </div>
    <div class="col component-link">
      <a target="_top" href="/omnidb/">
  <img class="main_icon" src="/image/button_omnidb.png" alt="OmniDB">
  <p>DB Administration</p>
      </a>
    </div>
    <div class="col component-link">
      <a href="/grafana/">
      <img class="main_icon" src="/image/button_grafana.png" alt="Grafana">
      <p>Monitoring</p>
      </a>
    </div>
    <div class="col component-link">
      <a href="/prometheus/">
  <img class="main_icon" src="/image/button_prometheus.png" alt="Prometheus">
  <p>Metrics</p>
      </a>
    </div>
    <div class="col component-link">
      <a href="/powa/server/">
        <img class="main_icon" src="/image/button_powa.png" alt="PoWA">
        <p>PoWA</p>
      </a>
    </div>
    <div class="col component-link">
      <a href="/pgbadger/[% IF CLUSTERS.size == 1 AND CLUSTERS.0.pgbadger %][% CLUSTERS.0.version %]-[% CLUSTERS.0.cluster %]/[% END %]">
  <img class="main_icon" src="/image/button_pgbadger.png" alt="Card image cap">
  <p>Log Reports</p>
      </a>
    </div>

    <div class="w-100 hidden-xs-down"></div>

    <div class="col component-link">
      <a href="/cgi-bin/backrest.pl">
  <img class="main_icon" src="/image/button_pgbackrest.png" alt="pgbackrest">
  <p>Backup</p>
      </a>
    </div>
    <div class="col component-link">
      <a href="/system">
  <img class="main_icon" src="/image/button_cockpit.png" alt="cockpit">
  <p>System Management</p>
      </a>
    </div>
    <div class="col component-link">
      <a href="/shellinabox/">
  <img class="main_icon" src="/image/button_shellinabox.png" alt="shell">
  <p>Shell</p>
      </a>
    </div>
    <div class="col component-link">
      <a href="/doc/html/">
  <img class="main_icon" src="/image/button_doc.png" alt="documentation">
  <p>Documentation</p>
      </a>
    </div>
    <div class="col component-link">
      <a href="/cgi-bin/support.pl">
  <img class="main_icon" src="/image/button_credativ.png" alt="credativ">
  <p>Support</p>
      </a>
    </div>
  </div>
</div>


<div class="container">
  <h3 align="center">PostgreSQL Cluster</h3>
  <div class="container cluster">
    <table class="table table-hover">
      <thead class="thead">
        <tr>
          <th colspan="2">Cluster</th>
          <th>Port</th>
          <!--<th>Owner</th>-->
          <th>Data directory</th>
          <th>Archiving</th>
          <th>Full Backup</th>
          <th>Incr Backup</th>
          <th></th>
        </tr>
      </thead>
      [% FOREACH cluster IN CLUSTERS.nsort('version') %]
      <tr class="clusterRow" onclick="toggleHidden('[% cluster.version %]_[% cluster.cluster %]');">
        <td>
          <div class="status [% IF cluster.running %]online[% ELSE %]offline[% END %]"></div>
        </td>
        <td class="important">[% cluster.version %]/[% cluster.cluster %]</td>
        <td class="clusterRight">[% cluster.port %]</td>
        <td>[% cluster.pgdata %]</td>
        <td class="clusterCenter">
          <label class="switch" onclick="location.href='/system/services#/pgbackrest-toggle-archiving@[% cluster.version %]-[% cluster.cluster %].service'">
            <input type="checkbox" [% IF cluster.archive_enabled %]checked[% END %]>
            <span class="slider round"></span>
          </label>
        </td>
        <td class="clusterCenter">
          <label class="switch" onclick="location.href='/system/services#/pgbackrest@[% cluster.version %]-[% cluster.cluster %].timer'">
            <input type="checkbox" [% IF cluster.backup_enabled %]checked[% END %]>
            <span class="slider round"></span>
          </label>
        </td>
        <td class="clusterCenter">
          <label class="switch" onclick="location.href='/system/services#/pgbackrest-incr@[% cluster.version %]-[% cluster.cluster %].timer'">
            <input type="checkbox" [% IF cluster.backup_incr_enabled %]checked[% END %]>
            <span class="slider round"></span>
          </label>
        </td>
        <td id="button_[% cluster.version %]_[% cluster.cluster %]" class="more_button">▼</td>
            </tr>
            <tr>
        <td colspan="9">
          <div class="detail hidden" id="cluster_[% cluster.version %]_[% cluster.cluster %]">
            <table class="detail">
              <tr>
                <th colspan="2">systemd</th>
                <th colspan="2">Report</th>
                <th colspan="3">Backup</th>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="btn-group" role="group">
                    <a type="button" class="btn btn-secondary" href="/system/services#/postgresql@[% cluster.version %]-[% cluster.cluster %].service">Service</a>
                    <a type="button" class="btn btn-secondary" href="/system/logs#/?prio=5&tag=postgres-[% cluster.version %]-[% cluster.cluster %]">Log</a>
                  </div>
                </td>
                <td colspan="2">
                  <div class="btn-group" role="group">
                    <a type="button" class="btn btn-secondary" href="/system/services#/pgbadger@[% cluster.version %]-[% cluster.cluster %].service">Run</a>
                    <a type="button" class="btn btn-secondary[% !(cluster.pgbadger) ? ' disabled' : '' %]" href="[% cluster.pgbadger %]">Show</a>
                  </div>
                </td>
                <td colspan="3">
                  <div class="btn-group" role="group">
                    <a type="button" class="btn btn-secondary" href="/system/services#/pgbackrest@[% cluster.version %]-[% cluster.cluster %].service">Full</a>
                    <a type="button" class="btn btn-secondary" href="/system/services#/pgbackrest-incr@[% cluster.version %]-[% cluster.cluster %].service">Incremental</a>
                    <a type="button" class="btn btn-secondary[% !(cluster.backup) ? ' disabled' : ''%]" href="/cgi-bin/backrest.pl?cluster=[% cluster.version %]-[% cluster.cluster %]">Info</a>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    [% END %]
    </table>
  </div>
</div>


[% INCLUDE footer.html %]
