[% INCLUDE header.html %]

<div class="container col-6 col-offset-3 text-justify">
  <h2 class="text-center">The Elephant Shed by cre<span style="color:red;">d</span>ativ</h2>

  <h3 class="text-center">Source code</h3>
  <p>
    The Elephant Shed is available on <a href="https://github.com/credativ/elephant-shed">GitHub</a>.
    New releases of this software will be available on the GitHub project page.
  </p>
  <p>
    A list of known issues and bugs is available on <a href="https://github.com/credativ/elephant-shed/issues">GitHub</a> as well.
    Feel free to open new issues if you think you found a bug.
    Pull-requests are welcome as well.
  </p>

  <h3 class="text-center">Support</h3>
  <p>
    The Elephant Shed is an open source project by cre<span style="color:red;">d</span>ativ.
    Our <a href="https://www.credativ.de/postgresql-competence-center">PostgreSQL
      Competence Center</a> supports the Elephant Shed as well as other open source products.
    If you are interested in support please contact us.
  </p>
  <p>
    <div class="text-center">
      <span style="font-weight: bold;">Web: </span><a href="https://www.credativ.com">www.credativ.com</a>
    </div>
    <div class="text-center">
      <span style="font-weight: bold;">E-mail: </span><a href="mailto:info@credativ.com">info@credativ.com</a>
    </div>
    <div class="text-center">
      <span style="font-weight: bold;">Phone: </span><a href="tel:+4921669901290">+49 2166 9901-290</a>
    </div>
  </p>

  <h3 class="text-center">License</h3>
  <p>
    Copyright © 2017-2018 credativ GmbH &lt;info@credativ.de&gt;
  </p>
  <p>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
  </p>
  <p>
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
  </p>
</div>

[% INCLUDE footer.html %]
