# /lib/systemd/system/pgbadger.timer
[Unit]
Description=Run pgbadger.service every night

[Timer]
OnBootSec=120
OnCalendar=*-*-* 23:00:00
RandomizedDelaySec=1h

[Install]
WantedBy=multi-user.target
